<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI content Generator</title>
    <link rel="stylesheet" href="./static/css/output.css">
</head>

<body class="bg-gray-100">

    <nav class="bg-black text-white px-4 py-3">
        <div class="container mx-auto flex items-center justify-between">
            <!-- Brand -->
            <div class="text-xl font-bold">WEBpedia</div>

            <!-- Toggle Button (Visible on all screens) -->
            <button id="menu-toggle" class="text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>

        <!-- Toggleable Menu in Horizontal Row -->
        <div id="menu" class="hidden px-4 pt-2 pb-4">
            <div class="flex space-x-6 justify-center">
                <a href="#" class="hover:text-gray-300">Home</a>
                <a href="#" class="hover:text-gray-300">About</a>
                <a href="#" class="hover:text-gray-300">Services</a>
                <a href="#" class="hover:text-gray-300">Contact</a>
            </div>
        </div>
    </nav>

    <div class="container mx-auto my-4 px-4 md:px-0">
        <h1 style="font-size: 24px; font-weight: bold; color: #333;">AI Blog Generator</h1>
        <textarea class="border my-1 p-2 w-full" placeholder="Enter the title of your blog"></textarea>
        <button id="submitBtn" class="bg-black text-white px-4 py-2 my-1 rounded">Submit</button>
        <div id="content" class="bg-gray-200 p-2 my-4">Your content will show up here</div>
    </div>

    <script>
        const toggleBtn = document.getElementById('menu-toggle');
        const menu = document.getElementById('menu');

        toggleBtn.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        });


        // Function to take the prompt and fetch the output from the /generate endpoint
        const populate = async () => {
            let prompt = document.querySelector('textarea').value;
            let response = await fetch('/generate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ prompt: prompt })
            });
            content.innerHTML = await response.text();
        }
        const submitBtn = document.querySelector('#submitBtn');
        submitBtn.addEventListener('click', () => {
            populate();
        });
    </script>

</body>

</html>